.enterPage { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: rgba(204, 204, 204, 0.4); background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(204, 204, 204, 0.4)), to(#fff)); background-image: -webkit-linear-gradient(rgba(204, 204, 204, 0.4), #fff); background-image: linear-gradient(rgba(204, 204, 204, 0.4), #fff); }
.enterPage .enter { padding-top: 58px; }
.enterPage .enter *, .enterPage .enter *:before, .enterPage .enter *:after { -webkit-box-sizing: inherit; box-sizing: inherit; }
.enterPage .enter .enterIn { max-width: 350px; text-align: center; margin: 0 auto; }
.enterPage .title { margin-bottom: 20px; font-size: 28px; color: #0082E9; }
.enterPage .info { margin-bottom: 35px; font-size: 15px; color: #666; }
.enterPage .info a { color: #0316FF; text-decoration: none; }
.enterPage .info a:hover { text-decoration: underline; }
.enterPage .form { margin-bottom: 20px; }
.enterPage .form .formRow { *zoom: 1; display: block; margin-bottom: 10px; text-align: left; }
.enterPage .form .formRow:after { content: " "; display: table; clear: both; }
.enterPage .form .formRow p { color: #999; font-size: 14px; }
.enterPage .form .formRow p small { color: #B3B3B3; font-size: 12px; }
.enterPage .form .formBottom { padding-top: 20px; }
.enterPage .form .formFooter { *zoom: 1; padding-top: 19px; }
.enterPage .form .formFooter:after { content: " "; display: table; clear: both; }
.enterPage .form .formFooter .checkbox { float: left; }
.enterPage .form .formCol { float: left; width: 47.5%; margin-left: 5%; }
.enterPage .form .formCol:first-child { margin-left: 0; }
.enterPage .form.form_reg .formFooter { padding-top: 0; padding-bottom: 19px; }
.enterPage .input { width: 100%; height: 40px; border: 1px solid #b2b2b2; background: #fff; padding: 0 5px; font-size: 15px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.enterPage .btn { width: 100%; height: 40px; vertical-align: middle; text-align: center; color: #fff; outline: none; border: none; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 15px; background: #0082E9; cursor: pointer; }
.enterPage .checkbox { position: relative; font-size: 0; padding-left: 20px; text-align: left; *zoom: 1; display: block; }
.enterPage .checkbox:after { content: " "; display: table; clear: both; }
.enterPage .checkbox input { position: absolute; top: -1px; left: 0; margin-right: 5px; }
.enterPage .checkbox span { font-size: 13px; color: #000; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.enterPage .checkbox span a { text-decoration: none; }
.enterPage .checkbox span a:hover { text-decoration: underline; }
.enterPage .forgor { float: right; color: #0316FF; text-decoration: none; font-size: 13px; }
.enterPage .forgor:hover { text-decoration: underline; }
.enterPage .select { position: relative; cursor: pointer; font-size: 12px; }
.enterPage .select select { position: absolute; opacity: 0; }
.enterPage .selectText { position: relative; height: 40px; line-height: 44px; color: #8f8e8e; border: 1px solid #b2b2b2; text-transform: uppercase; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; background: #fff; border-right: 1px solid #d0cfcf; padding: 0 16px; }
.enterPage .selectText:before { content: ""; position: absolute; top: 0; bottom: 0; right: 0; width: 40px; background: #F2F2F2; }
.enterPage .selectText:after { content: ""; position: absolute; right: 15px; top: 50%; margin-top: -3px; width: 0px; height: 0px; border-style: solid; border-width: 6px 5.5px 0 5.5px; border-color: #8f8e8e transparent transparent transparent; }
.enterPage .selectList { position: absolute; display: none; left: 0; right: 0; top: 100%; z-index: 100; padding: 10px 0; border-top: 0; max-height: 200px; overflow-x: hidden; overflow-y: auto; background: #E6E6E6; }
.enterPage .selectList li { padding: 5px 11px; cursor: pointer; line-height: 1; color: #666; }
.enterPage .selectList li:hover { background: #717791; color: #fff; }
.enterPage .footer { padding: 0 30px; }
.enterPage .footer .footerIn { border-top: 1px solid #d4d4d4; padding: 30px 0; text-align: center; }
.enterPage .footer .footerIn p { font-size: 15px; color: #999; margin-bottom: 20px; }
.enterPage .parthners { font-size: 0; }
.enterPage .parthners li { display: inline-block; vertical-align: middle; margin: 0 20px; }



/*# sourceMappingURL=screen.css.map */
